*{
  margin: 0;
  padding: 0;
}

header{
  font-family: 'Red Hat Display', sans-serif;
  background-position: center;
  text-align: center;
  background-image: url("images/panorama.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFFFFF;
}

h1{
  font-size: 50px;
  padding-top: 180px;
  padding-bottom: 20px;
}

h2{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 180px;
}


p{
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #FFFFFF;
}

a{
  text-decoration: none;
  color: #FFFFFF;
}
.container{
  margin: 20px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(494px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

.container > div:nth-child(1n) {
  background-image: url("images/summer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

.container > div:nth-child(2n) {
  background-image: url("images/winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

.container > div:nth-child(3n) {
  background-image: url("images/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

.container > div:nth-child(4n) {
  background-image: url("images/autumn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

.map {
  position:relative;
  text-align:center;
  margin-top: 20px;
}

.map h2{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  color: #212121;
  padding-bottom: 20px;
  padding-top: 0;
}

.gmap_canvas{
  overflow:hidden;
  background:none;
}

.food {
  font-family: 'Satisfy', cursive;
  background-image: url("images/food.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #FFFFFF;
}

.footer p{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 15px;
  padding: 15px 15px;
}

.footer a{
  color: #212121;
  text-decoration: underline;
}

nav{
  padding: 40px;
}

.footer{
  margin: 20px 0px;
  background-color: #689F38;
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}


/*Summer*/



.summer header{
  font-family: 'Red Hat Display', sans-serif;
  background-position: center;
  text-align: center;
  background-image: url("images/lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.summer h1{
  font-size: 50px;
  padding-top: 180px;
  padding-bottom: 40px;
}

.summer h2{
  font-size: 20px;
  padding-bottom: 180px;
}

.lake{
  background-image: url("images/lago.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  margin-top: 20px;
  padding-top: 180px;
  padding-bottom: 180px;
}

.summer > .container{
  margin: 20px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
}

.summer > .container > div:nth-child(1n) {
  background-image: url("images/winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.summer > .container > div:nth-child(2n) {
  background-image: url("images/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.summer > .container > div:nth-child(3n) {
  background-image: url("images/autumn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}



/*Winter*/



.winter header{
  font-family: 'Red Hat Display', sans-serif;
  background-position: center;
  text-align: center;
  background-image: url("images/inverno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.winter h1{
  font-size: 50px;
  padding-top: 160px;
  padding-bottom: 40px;
}

.winter h2{
  font-size: 20px;
  padding-bottom: 200px;
}

.ski{
  margin-top: 20px;
  background-image: url("images/ski.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ski h1{
  color: #212121;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  padding: 200px auto;
}

.ski h2{
  color: #212121;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  padding: 180px auto;
}


.winter > .container{
  margin: 20px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
}

.winter > .container > div:nth-child(1n) {
  background-image: url("images/summer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.winter > .container > div:nth-child(2n) {
  background-image: url("images/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.winter > .container > div:nth-child(3n) {
  background-image: url("images/autumn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}



/*Spring*/



.spring header{
  font-family: 'Red Hat Display', sans-serif;
  background-position: center;
  text-align: center;
  background-image: url("images/spring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.spring h1{
  font-size: 50px;
  padding-top: 180px;
  padding-bottom: 40px;
}

.spring h2{
  font-size: 20px;
  padding-bottom: 180px;
}

.spring > .container{
  margin: 20px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
}

.spring > .container > div:nth-child(1n) {
  background-image: url("images/summer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.spring > .container > div:nth-child(2n) {
  background-image: url("images/winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.spring > .container > div:nth-child(3n) {
  background-image: url("images/autumn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.motorcycle{
  margin-top: 20px;
  background-image: url("images/motorcycle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.motorcycle h1, h2{
  color: #FFFFFF;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  padding: 180px auto;
}



/*Autumn*/



.autumn header{
  font-family: 'Red Hat Display', sans-serif;
  background-position: center;
  text-align: center;
  background-image: url("images/autunno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.autumn h1{
  font-size: 50px;
  padding-top: 160px;
  padding-bottom: 40px;
}

.autumn h2{
  font-size: 20px;
  padding-bottom: 200px;
}

.autumn > .container{
  margin: 20px 0px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
}

.autumn > .container > div:nth-child(1n) {
  background-image: url("images/summer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.autumn > .container > div:nth-child(2n) {
  background-image: url("images/winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}

.autumn > .container > div:nth-child(3n) {
  background-image: url("images/bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}
